.bannersytle{
    background-image: url('https://i.ibb.co/JB9Dfm2/5k-AMETLq5og-Rk-l-N1-YS5-Hi-Fg-BR7-T1-PNes-R2a-Xfur4-VZWX29po-Bw-DULFXOya-Jbyx-Ij-Lk-Vzl-Cxfdk-N0-YY.jpg');
    background-size: cover;
    height: 400px;
}