.cardimg{
    height:250px;
    border-radius: 50%;
    width: 250px;
}
.card img{
   transition:transform 0.5s  ease-out;

}
.card img:hover{
   transform: scale(1.05);
   transition:all 0.5s  ease-in;
}